---
import type { CollectionEntry } from "astro:content";
interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<tr class="project__card">
  <td
    >{project.data.emoji}
    <a
      href={project.data.url}
      class="navlink head"
      target="_blank"
      rel="noopener noreferrer">{project.data.name}</a
    ></td
  >
  <td class="card__box border__line">
    <ul>
      {project.data.description.map((desp) => <li>{desp}</li>)}
    </ul>
    {
      project.data.live && (
        <a
          href={project.data.live}
          class="navlink"
          target="_blank"
          rel="noopener noreferrer"
        >
          live
        </a>
      )
    }
  </td>
</tr>

<style>
  .border__line {
    border-left: 2px solid rgb(229 229 229 / 72%);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .project__card {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    overflow: auto;
    height: 100%;
    background-color: #ffffff81;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px rgb(229 229 229));
    margin-bottom: 1.3em;
  }

  :global(.dark) .project__card {
    background-color: rgba(0, 0, 0, 0.5);

    filter: drop-shadow(0px 0px 2px rgb(59, 54, 54));
  }

  :global(.dark) .border__line {
    border-color: rgb(59 54 54);
  }

  ul {
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    list-style: square;
    padding-inline-start: 0;
    margin-left: 2em;
  }

  td {
    padding: 1em;
  }

  .card__box {
    display: grid;
    grid-template-rows: 2fr 0.5fr;
  }

  @media screen and (max-width: 440px) {
    td {
      padding: 0;
    }
  }

  .navlink {
    text-transform: capitalize;
    margin-left: 1em;
  }

  .head {
    margin: 0 auto;
  }
</style>
